.Upload__Input {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #666;
  height: 35px;
  width: 120px;
  border-radius: 5px;
}

.Upload__Input input {
  width: 0;
  height: 0;
}

.Upload__Input:hover {
  background: #ddd;
}
